@model Projeto.Models.Livro

@{
    ViewData["Title"] = "Delete";
}
<style>
    main{
        width: 100%;
        background-color: #D9D9D9;
    }

    h1 {
        color: white;
        background-color: #5B9898;
        padding: 25px;
    }


    .container-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .form-create-livro{
        width: 60%;
    }

    .form-create-livro input{
            background-color: #D9D9D9;
    }

    .div-form{
        margin: 0 auto;
    }
</style>


<h1>Excluir Livro</h1>

<h3>Tem certeza que quer deletar?</h3>
<div>

    <hr />
    <dl class="row div-form">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biblioteca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biblioteca.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emprestar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emprestar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="LivrosDoUsuario">Voltar</a>
    </form>
</div>
