@model IEnumerable<Projeto.Models.Livro>

@{
    ViewData["Title"] = "Bibliotecas";
}

<style>
    main {
        background-color: #D9D9D9;
        width: 100%;
    }

    h1 {
        color: white;
        background-color: #5B9898;
        padding: 25px;
    }

    .botoes-cria-edita {
        display: flex;
        justify-content: end;
        margin-right: 10px;
    }

    .botoes-cria-edita a {
        display: block;
        width: 140px;
        height: 40px;
        line-height: 40px;
        margin: 10px;
        background-color: #3C7373;
        color: #FFFFFF;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
    }

    .filtro-minha-biblioteca {
        width: 100%;
        height: 100px;
        background-color: #C8C8C8;
    }

    .cor-linha {
        background-color: #979797;
        color: white;
    }

    .agrupador-botao-minha-lib {
        display: flex;
        margin-right: -19px;
    }

    .agrupador-botao-minha-lib a {
        display: block;
        width: 140px;
        height: 40px;
        line-height: 40px;
        margin: 10px;
        background-color: #BBBBBB;
        color: #000000;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
    }

    .linha-livro {
        background: darkgray;
    }

    .livro-infos {
        width: 100%;

    }
    .livro-infos .livro-nome {
        text-transform: capitalize;
        text-transform: capitalize;
        font-size: 30px;
        font-weight: 600;
        color: white;
    }
    .livro-infos .livro-isbn {

    }
    .livro-infos .livro-autor {
        text-transform: capitalize;
    }
    .livro-infos .livro-biblioteca-nome {
        text-transform: capitalize;
    }

    .livro-acao {
        vertical-align: middle;
    }

    .livro-subtexto {
        font-weight: 600;
    }

    .btn-reservar {
        text-decoration: none;
    }

    .btn-reservar div {
        display: flex;
        width: 100px;
        height: 40px;
        align-items: center;
        justify-content: center;
        background-color: #3b3a3a;
        color: white;
        border-radius: 80px;
        border: none;
    }

    .btn-reservar div:hover{
        opacity: 0.75;
    }
</style>

<script>
    window.onload = function() {

        $('#limpar-pesquisa').click(() => {
            $('#SearchString').val(null);
            $('#input-busca').click();
        })

    }
</script>

<h1>Bibliotecas</h1>

@using (Html.BeginForm())
{
    <p>
        Pesquisar por: @Html.TextBox("SearchString")
        <input id="input-busca" type="submit" value="Buscar" />
        <input id="limpar-pesquisa" type="button" value="Limpar" />
    </p>
}

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="linha-livro">
                <td class="livro-infos">
                    <div class="livro-nome">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </div>

                    <div style="display: flex;">
                        <div style="width: 100%;">
                            <div class="livro-isbn"><span class="livro-subtexto">ISBN:</span> @Html.DisplayFor(modelItem => item.ISBN)</div>
                            <div class="livro-autor"><span class="livro-subtexto">Autor:</span> @Html.DisplayFor(modelItem => item.Autor)</div>
                        </div>

                        <div style="width: 100%;">
                            <div class="livro-biblioteca-nome">@Html.DisplayFor(modelItem => item.Biblioteca.Nome)</div>
                        </div>
                    </div>
                </td>

                <td class="livro-acao">
                    <a asp-controller="Reservas" asp-action="Create" asp-route-id="@item.Id" class="btn-reservar" title="Clique para solicitar reserva">
                        <div>
                            Reservar
                        </div>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>