@model IEnumerable<Projeto.Models.Livro>

@{
    ViewData["Title"] = "Minha Biblioteca";
}

<style>
    main {
        background-color: #D9D9D9;
        width: 100%;
    }

    h1{
        color: white;
        background-color: #5B9898;
        padding: 25px;
    }

    .botoes-cria-edita{
        display:flex;
        justify-content: end;
        margin-right: 10px;

      
    }

    .botoes-cria-edita a{
        display: block;
        width: 140px;
        height: 40px;
        line-height: 40px;
        margin: 10px;
        background-color: #3C7373;
        color: #FFFFFF;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
    }

    .filtro-minha-biblioteca {
        width: 100%;
        height: 100px;
        background-color: #C8C8C8;
    }
    .cor-linha{
        background-color: #979797;
        color: white;
    }

    .agrupador-botao-minha-lib{
        display:flex;
        margin-right: -19px;
    }

    .agrupador-botao-minha-lib a{

        display: block;
        width: 140px;
        height: 40px;
        line-height: 40px;
        margin: 10px;
        background-color: #BBBBBB;
        color: #000000;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
    }

</style>


<!-- Ver como puxar direto do banco o nome da biblioteca do usuario-->
<h1>Minha biblioteca</h1>

<div class="botoes-cria-edita">
    <a asp-action="Create">Create New</a>
    <a asp-controller="Bibliotecas" asp-action="Edit">Renomear Biblioteca</a>
</div>

<div class="filtro-minha-biblioteca">
    <div>
        Filtro
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Biblioteca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emprestar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="cor-linha">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Biblioteca.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emprestar)
            </td>
            <td>
                <div class="agrupador-botao-minha-lib">
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </div>
                        <div>
                            <a  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                </div>
                
               
            </td>
        </tr>
}
    </tbody>
</table>
